<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a12525.bhplanet">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/naodong"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".anquanActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".kongjianActivity" />
        <activity android:name=".loginActivity" />
        <activity android:name=".registActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.a12525.bhplanet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".welcomeActivity"
            android:label="脑洞星球">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".settingsActivity">
            <intent-filter>
                <action android:name="com.example.a12525.bhplanet.ACTION_SHE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".dongtaiActivity" />
        <activity android:name=".guanzhuActivity">
            <intent-filter>
                <action android:name="com.example.a12525.bhplanet.ACTION_GUAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".fensi">
            <intent-filter>
                <action android:name="com.example.a12525.bhplanet.ACTION_FEN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".shoucangActivity">
            <intent-filter>
                <action android:name="com.example.a12525.bhplanet.ACTION_SHOU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".lishiActivity">
            <intent-filter>
                <action android:name="com.example.a12525.bhplanet.ACTION_LI" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".xiazaiActivity">
            <intent-filter>
                <action android:name="com.example.a12525.bhplanet.ACTION_XIA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".zdongtaiActivity">
            <intent-filter>
                <action android:name="com.example.a12525.bhplanet.ACTION_ZDONG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".pinglunActivity">
            <intent-filter>
                <action android:name="com.example.a12525.bhplanet.ACTION_PING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".tdongtaiActivity" />
        <activity android:name=".zhongxinActivity" />
        <activity android:name=".ziliaoActivity" />
        <activity android:name=".tupianActivity" />
        <activity android:name=".tiaoshiActivity"/>
        <activity android:name=".guanliActivity"/>

        <activity android:name=".TieziNeirongActivity" />
        <activity android:name=".ShequTieziActivity" />
        <activity android:name=".dongtuActivity" />
        <activity android:name=".manhuaActivity" />
        <activity android:name=".DaohangActivity" />
        <activity android:name=".nmslActivity"></activity>
    </application>

</manifest>